services:
  lights-out:
    build: .
    container_name: lights-out-game
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - gateway

networks:
  gateway:
    external: true
